.game {
    flex: 1;
}

.guess-container {
    display: flex;
    align-items: center;
    gap: 4px;
}

.guess-container div {
    height: 2.5rem;
    width: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    border: 1px solid #ccc;
    font-weight: bold;
    border-radius: 3px;
    transition: background-color .25s ease;
}

.guess-container:not(:last-of-type) {
    margin-bottom: 4px;
}