.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: relative;
  height: 100vh;
}

.App.dark {
  background-color: rgb(35, 39, 47);
  color: rgb(236, 235, 240);
}

.App.dark button {
  border-color: rgb(236, 235, 240);
  color: rgb(236, 235, 240);
}

.toolbar {
  display: flex;
  margin-top: 1rem;
  width: calc(100% - 1rem);
  justify-content: space-around;
  align-items: center;
}

.toolbar h1 {
  margin: 0;
  color: #177aee;
}

.toolbar h1 sup {
  font-size: 12px;
  font-style: italic;
}

.toolbar nav {
  display: flex;
  align-items: center;
}

.toolbar nav button {
  margin-right: .75rem;
  border: none;
}

.correct {
  background-color: #31d631;
}

.in-correct {
  background-color: #f69191;
}

.partially-correct {
  background-color: #e6ca1a
}

button {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid rgb(35, 39, 47);
  border-radius: 3px;
  padding: .75rem .5rem;
  font-weight: bold;
}

.blur {
  opacity: .2;
}

.w-100 {
  width: 100%;
}

.uppercase {
  text-transform: uppercase;
}


footer {
  margin-bottom: 0.5rem;
}

footer a {
  color: inherit;
}